= table.column :id
= table.column :name
= table.column :email
= table.column :phone
= table.column :ip_address
= table.column :message
= table.column :notified_at
= table.timestamps
= table.column :additional_actions do |resource|
  = link_to({ action: :notify, id: resource.to_param}, method: :post, class: 'btn btn-xs btn-default') do
    %span.glyphicon.glyphicon-envelope
    %span.btn-text= t('.notify')